<template>
  <div :id="vuename" class="page">
    <h1>{{ `${vuename} ${isPage ? "page" : ""}` }}</h1>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";

@Options({
  props: {
    vuename: String,
    querys: Object,
    isPage: Boolean
  }
})
export default class Page extends Vue {
  vuename!: string;
  querys!: object;
  isPage!: false;
}
</script>
